In [2]:
# import pandas and wbdata
import pandas as pd
import wbdata as wb

In [3]:
# Read the CSVs into dataframes
df_a = pd.read_csv('Resources/inpe_brazilian_amazon_fires_1999_2019.csv')
df_b = pd.read_csv('Resources/def_area_2004_2019.csv')

# Create a mapping dictionary
state_mapping = {
    'AC': 'ACRE',
    'AM': 'AMAZONAS',
    'AP': 'AMAPA',
    'MA': 'MARANHAO',
    'MT': 'MATO GROSSO',
    'PA': 'PARA',
    'RO': 'RONDONIA',
    'RR': 'RORAIMA',
    'TO': 'TOCANTINS'
}

# Map the full state names in df_a to their initials
df_a['state_initials'] = df_a['state'].map({v: k for k, v in state_mapping.items()})

# Convert the 'year' column in both dataframes to the same type
df_a['year'] = df_a['year'].astype(str)
df_b['Ano/Estados'] = df_b['Ano/Estados'].astype(str)

# Melt df_b to long format to facilitate the merge
df_b_melted = pd.melt(df_b, id_vars=['Ano/Estados'], value_vars=state_mapping.keys(), 
                      var_name='state_initials', value_name='deforestation_area')

# Merge the two dataframes on the year and state initials
merged_df = pd.merge(df_a, df_b_melted, left_on=['year', 'state_initials'], right_on=['Ano/Estados', 'state_initials'], how='outer')

# Filter to keep only data from 2004 onwards
merged_df = merged_df[merged_df['year'] >= '2004']

# Drop the state initials column and the duplicate 'Ano/Estados' column
merged_df.drop(['state_initials', 'Ano/Estados'], axis=1, inplace=True)

merged_df.head()

     year  month  state  latitude  longitude  firespots  deforestation_area
455  2004      1  AMAPA  0.131862 -51.642086         58                46.0
456  2004      2  AMAPA  0.686000 -50.987000          1                46.0
457  2004      4  AMAPA -0.930000 -52.327000          1                46.0
458  2004      5  AMAPA -0.919000 -52.286000          1                46.0
459  2004      6  AMAPA  1.473857 -51.059571          7                46.0

In [4]:
def filter_by_state_and_year(df, state, year):
    """
    Filters the dataframe for the specified state and year.

    Parameters:
    - df (DataFrame): The dataframe to filter.
    - state (str): The state to filter by.
    - year (str): The year to filter by.

    Returns:
    - DataFrame: The filtered dataframe.
    """
    return df[(df['state'] == state) & (df['year'] == year)]

# Usage
desired_state = "ACRE"
desired_year = "2004"
filtered_df = filter_by_state_and_year(merged_df, desired_state, desired_year)
filtered_df

     year  month state   latitude  longitude  firespots  deforestation_area
549  2004      2  ACRE  -8.150750 -72.611250          4               728.0
550  2004      4  ACRE -10.887444 -68.537000          9               728.0
551  2004      5  ACRE  -9.346143 -70.787952         21               728.0
552  2004      6  ACRE  -9.390833 -69.686500         12               728.0
553  2004      7  ACRE  -9.350074 -68.990400         95               728.0
554  2004      8  ACRE  -9.649285 -68.874877       1003               728.0
555  2004      9  ACRE  -9.835523 -68.803959       5458               728.0
556  2004     10  ACRE -10.121528 -68.810804        633               728.0
557  2004     11  ACRE  -9.150760 -70.571200         25               728.0
558  2004     12  ACRE -10.345182 -68.199364         11               728.0

In [5]:
def fetch_co2_emissions(country):
    """
    Fetches the CO2 emissions per capita data for the specified country for the years 2004 to 2019.

    Parameters:
    - country (str): The name of the country to fetch the data for.

    Returns:
    - List of tuples: The CO2 emissions per capita data for the specified country for the years 2004 to 2019.
    """
    # Set the indicator ID for CO2 emissions per capita
    indicator_id = "EN.ATM.CO2E.PC"

    # Fetch the data for the specified country
    data = wb.get_data(indicator_id, country=country)

    # Filter and store the data for the years 2004 to 2019 in a list of tuples
    co2_emissions_data = []
    for country_data in data:
        date = country_data['date']
        if 2004 <= int(date) <= 2019:
            country = country_data['country']['value']
            value = country_data.get('value', None)  # Use the get method to handle missing data
            try:
                co2_emissions_data.append((float(value), date, country))
            except:
                pass
    
    return co2_emissions_data

In [6]:
country_codes = ['BRA', 'CHN', 'IND', 'RUS', 'ZAF']
for country_code in country_codes:
    print(fetch_co2_emissions(country_code))

[(2.05077012882977, '2019', 'Brazil'), (2.06426147881772, '2018', 'Brazil'), (2.18548661863967, '2017', 'Brazil'), (2.16125984748939, '2016', 'Brazil'), (2.36536062099671, '2015', 'Brazil'), (2.51459195963426, '2014', 'Brazil'), (2.4134465369818, '2013', 'Brazil'), (2.2714176835721, '2012', 'Brazil'), (2.11062775987293, '2011', 'Brazil'), (2.02660566892286, '2010', 'Brazil'), (1.79932814185315, '2009', 'Brazil'), (1.93921527398251, '2008', 'Brazil'), (1.847975735626, '2007', 'Brazil'), (1.77747795657257, '2006', 'Brazil'), (1.77566292246976, '2005', 'Brazil'), (1.77844124428615, '2004', 'Brazil')]
[(7.64543578560038, '2019', 'China'), (7.53319313353674, '2018', 'China'), (7.22616015441748, '2017', 'China'), (7.10547993572515, '2016', 'China'), (7.14513153508327, '2015', 'China'), (7.30471287157582, '2014', 'China'), (7.32015492503154, '2013', 'China'), (7.04520023039603, '2012', 'China'), (6.90134732553428, '2011', 'China'), (6.33541976743751, '2010', 'China'), (5.79831993750282, '2009', 'China'), (5.43507909606652, '2008', 'China'), (5.30636800631315, '2007', 'China'), (4.91027619715946, '2006', 'China'), (4.46769636118185, '2005', 'China'), (3.94515487143877, '2004', 'China')]
[(1.75253436625037, '2019', 'India'), (1.79559529858433, '2018', 'India'), (1.70492672078233, '2017', 'India'), (1.63991401876928, '2016', 'India'), (1.63132348717228, '2015', 'India'), (1.64246527737333, '2014', 'India'), (1.52767440026001, '2013', 'India'), (1.49820412282441, '2012', 'India'), (1.39687849773199, '2011', 'India'), (1.33803383522422, '2010', 'India'), (1.27887360284089, '2009', 'India'), (1.18036124666151, '2008', 'India'), (1.1235994817209, '2007', 'India'), (1.03653392155165, '2006', 'India'), (0.984261472618751, '2005', 'India'), (0.955470157428994, '2004', 'India')]
[(11.7971941673637, '2019', 'Russian Federation'), (11.4965712497165, '2018', 'Russian Federation'), (11.0351992095822, '2017', 'Russian Federation'), (10.8874269283473, '2016', 'Russian Federation'), (11.0520055015768, '2015', 'Russian Federation'), (11.2082077063911, '2014', 'Russian Federation'), (11.3770043056089, '2013', 'Russian Federation'), (11.7020653683345, '2012', 'Russian Federation'), (11.884949695479, '2011', 'Russian Federation'), (11.3254009458404, '2010', 'Russian Federation'), (10.8321085519776, '2009', 'Russian Federation'), (11.5956540891301, '2008', 'Russian Federation'), (11.6112690474096, '2007', 'Russian Federation'), (11.568369096945, '2006', 'Russian Federation'), (11.2318521528474, '2005', 'Russian Federation'), (11.1127113661228, '2004', 'Russian Federation')]
[(7.68890762322173, '2019', 'South Africa'), (7.66737702463575, '2018', 'South Africa'), (7.68370781068603, '2017', 'South Africa'), (7.54458957113285, '2016', 'South Africa'), (7.60718852417825, '2015', 'South Africa'), (8.19115252745267, '2014', 'South Africa'), (8.11643495398564, '2013', 'South Africa'), (8.03464925875575, '2012', 'South Africa'), (7.8080537418251, '2011', 'South Africa'), (8.21761222731227, '2010', 'South Africa'), (7.90204894086135, '2009', 'South Africa'), (8.44664968496897, '2008', 'South Africa'), (7.94385857423182, '2007', 'South Africa'), (7.67271219877509, '2006', 'South Africa'), (7.70429784499698, '2005', 'South Africa'), (7.82476407533056, '2004', 'South Africa')]

In [7]:
# Create an empty dataframe with the desired column names
co2_emissions_df = pd.DataFrame(columns=['CO2 Emissions', 'Year', 'Country'])

# Loop through the country codes and append the output of fetch_co2_emissions() to the dataframe
for country_code in country_codes:
    co2_emissions_data = fetch_co2_emissions(country_code)
    for data in co2_emissions_data:
        co2_emissions_df = pd.concat([co2_emissions_df, pd.DataFrame({'CO2 Emissions': [data[0]], 'Year': [data[1]], 'Country': [data[2]]})], ignore_index=True)

co2_emissions_df

    CO2 Emissions  Year       Country
0        2.050770  2019        Brazil
1        2.064261  2018        Brazil
2        2.185487  2017        Brazil
3        2.161260  2016        Brazil
4        2.365361  2015        Brazil
..            ...   ...           ...
75       8.446650  2008  South Africa
76       7.943859  2007  South Africa
77       7.672712  2006  South Africa
78       7.704298  2005  South Africa
79       7.824764  2004  South Africa

[80 rows x 3 columns]